html {
    font-size: 10px;
}

body {
    font-family: system-ui;
    line-height: 1.5;
    padding: 0px 200px;
}

.header {
    display: flex;
    border-bottom: 0.5px solid rgba(199, 196, 214, 0.788);
    border-radius: 2px;
    padding-bottom: 10px;
    align-items: center;

}

.top-left-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
}

.top-right-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    flex: 1;
}

.button-header-inpage {
    border: none;
    background-color: white;
    font-size: 1.6rem;
    font-weight: 550;
    font-family: system-ui;
}

.button-header-inpage:hover {
    cursor: pointer;
}

.button-header-user {
    border: none;
    background-color: white;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: system-ui;

}

.live-button {
    color: blue;
    font-size: 2rem;
}

.orange-text {
    color: orange;
}

.info-section {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

#rotada {
    transform: rotate(90deg);
}