G56/s2/c2/.vscode/settings.json
power-bi/data.csv
G56/s3/c1/.vscode/settings.json
G56/s3/c2/Desafío evaluado - Quiz app.pdf
*.pyc
*.pdf
*settings.json
*.png
*.jpg
*.webp
*.jpeg
.DS_Store
G56/machine-learning/s2/c1/desafio_guiado/Apoyo Desafío - Naive Bayes
G56/machine-learning/s3/c2/desafio_evaluado/input